<div class="content-wrapper">

  <div class="container-fluid">

    <!-- Bread Crumbs -->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Customer form -->
    <%= render '/devise/registrations/new-form', employee: @employee %>

  </div>

</div>
