<p id="notice"><%= notice %></p>

<p>
  <strong>Employee status type:</strong>
  <%= @employee_status.employee_status_type %>
</p>

<%= link_to 'Edit', edit_employee_status_path(@employee_status) %> |
<%= link_to 'Back', employee_statuses_path %>
