<p id="notice"><%= notice %></p>

<p>
  <strong>Vendorstatustype:</strong>
  <%= @vendor_status.VendorStatusType %>
</p>

<%= link_to 'Edit', edit_vendor_status_path(@vendor_status) %> |
<%= link_to 'Back', vendor_statuses_path %>
