<!-- Footer -->
<footer class="sticky-footer">

  <!-- Container -->
  <div class="container">

    <!-- Footer Content -->
    <div class="text-center">

      <small>Copyright © Anchor 8 Solutions 2018</small>
      <%= image_tag("anchor8.png", width: '45px') %>

    </div>

  </div>

</footer>
