<!-- Add Employee Modal-->
<div class="modal fade"
     id="add-employee-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">

  <!-- Modal Dialog Window -->
  <div class="modal-dialog"
       role="document">

    <!-- Modal Content -->
    <div class="modal-content">

      <!-- Modal Title Bar -->
      <div class="modal-header">

        <!-- Title Text -->
        <h5 class="modal-title"
            id="exampleModalLabel">
            Add New Employee</h5>

        <!-- Close X Button -->
        <button class="close"
                type="button"
                data-dismiss="modal"
                aria-label="Close">

          <span aria-hidden="true">
                ×</span>

        </button>

      </div>

      <!-- Modal Body -->
      <div class="modal-body mx-auto">

        <%= render :template => "devise/registrations/new" %>

      </div>

    </div>

  </div>

</div>
