<!-- Edit Modal-->
<div class="modal fade" id="add-employee-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Modal Title Bar -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Current Employee</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <%= render :template => "devise/registrations/new" %>
      </div>

    </div>
  </div>
</div>
