<!-- Page title -->
<% content_for :title, "Edit Customer" %>

<!-- Content Wrapper -->
<div class="content-wrapper">

  <!-- Container (fluid) -->
  <div class="container-fluid">

    <!-- Bread Crumbs -->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Customer form -->
    <%= render 'form', customer: @customer %>
  </div>
</div>
