<div class="content-wrapper">

  <div class="container-fluid">

    <!-- Bread Crumbs -->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- New-->
    <%= render 'form', customer: @customer %>
  </div>

</div>
