<!-- Page title -->
<% content_for :title, "Edit Order" %>

<!-- Content wrapper -->
<div class="content-wrapper">

  <!-- Container (fluid) -->
  <div class="container-fluid">

    <!-- Bread Crumbs -->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Order form -->
    <%= render 'form', order: @order %>
  </div>
</div>
