<div class="content-wrapper">

  <div class="container-fluid">

    <!-- Bread Crumbs -->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Order form -->
    <%= render 'form', order: @order %>

  </div>

</div>