<div class="content-wrapper">
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to_unless_current("Dashboard", dashboard_url) %>
      </li>
      <li class="breadcrumb-item active">Customer Management</li>
    </ol>

  </div>
</div>
