<!-- Content Wrapper -->
<div class="content-wrapper">

  <!-- Container (Fluid) -->
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Error Banner -->
    <% if notice %>
      <% flash.each do |key, value| %>
        <% if value.class == Array %>
          <div class="h5 strong text-center mark">
            <% value.each do |message| %>
              *
              <%= message %>
              *
            </br>
          <% end %>
        </div>
      <% else %>
        <div class="h5 strong text-center mark">
          *
          <%= value %>
          *
        </div>
      <% end %>
    <% end %>
  <% end %>

  <!-- Order Table-->
  <%= render partial: 'partials/tables/order-table' %>

</div>

</div>