<div class="content-wrapper">

  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Order Table-->
    <%= render partial: 'partials/tables/order-table' %>

  </div>

</div>

<!-- New Customer Modal-->
<%= render partial: 'partials/modals/add-order-modal' %>
