<!-- Page title -->
<% content_for :title, "Reports - Products" %>

<!-- Content Wrapper -->
<div class="content-wrapper">

  <!-- Container (Fluid) -->
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Report Tabs -->
    <ul class="nav nav-tabs">

      <!-- Report 11 - Products Sold by State-->
      <li class="nav-item">

        <!-- If active_tab is report11, activate -->
        <% if params[:active_tab] == 'report11' %>
          <a class="nav-link active" aria-controls="report11" role="tab" data-toggle="tab" href="#report11">Products Sold by State</a>

        <!-- If active_tab is empty, activate-->
        <% elsif !params[:active_tab] %>
          <a class="nav-link active" aria-controls="report11" role="tab" data-toggle="tab" href="#report11">Products Sold by State</a>

        <!-- If active_tab is not report11, dont activate -->
        <% else %>
          <a class="nav-link" aria-controls="report11" role="tab" data-toggle="tab" href="#report11">Products Sold by State</a>
        <% end %>
      </li>

      <!-- Report 12 - Product Order Appearances-->
      <li class="nav-item">

        <!-- If active_tab is report12, activate -->
        <% if params[:active_tab] == 'report12' %>
          <a class="nav-link active" aria-controls="report12" role="tab" data-toggle="tab" href="#report12">Product Order Appearances</a>

        <!-- If active_tab is not report12, dont activate -->
        <% else %>
          <a class="nav-link" aria-controls="report12" role="tab" data-toggle="tab" href="#report12">Product Order Appearances</a>
        <% end %>
      </li>
    </ul>

    <!-- Content in Tab -->
    <div class="tab-content">
      <%= render partial: 'partials/reports/product-reports' %>
    </div>
  </div>
</div>
