<% content_for :title, "Reports - Statuses" %>

<!-- Content Wrapper -->
<div class="content-wrapper">

  <!-- Container (Fluid) -->
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Report Tabs -->
    <ul class="nav nav-tabs">

      <!-- Report 2 - Customer Order Statuses -->
      <li class="nav-item">

        <!-- If active_tab is report2, activate -->
        <% if params[:active_tab] == 'report2' %>
          <a class="nav-link active" aria-controls="report2" role="tab" data-toggle="tab" href="#report2">Customer Order Statuses</a>

        <!-- If active_tab is empty, activate-->
        <% elsif !params[:active_tab] %>
          <a class="nav-link active" aria-controls="report2" role="tab" data-toggle="tab" href="#report2">Customer Order Statuses</a>

        <!-- If active_tab is not report2, dont activate -->
        <% else %>
          <a class="nav-link" aria-controls="report2" role="tab" data-toggle="tab" href="#report2">Customer Order Statuses</a>

        <% end %>
      </li>

      <!-- Report 3 - Vendor Statuses-->
      <li class="nav-item">

        <!-- If active_tab is report3, activate -->
        <% if params[:active_tab] == 'report3' %>
          <a class="nav-link active" aria-controls="report3" role="tab" data-toggle="tab" href="#report3">Vendor Statuses</a>

        <!-- If active_tab is not report3, dont activate -->
        <% else %>
          <a class="nav-link" aria-controls="report3" role="tab" data-toggle="tab" href="#report3">Vendor Statuses</a>

        <% end %>
      </li>

      <!-- Report 4 - Carrier Usage -->
      <li class="nav-item">

        <!-- If active_tab is report4, activate -->
        <% if params[:active_tab] == 'report4' %>
          <a class="nav-link active" aria-controls="report4" role="tab" data-toggle="tab" href="#report4">Carrier Usage</a>

        <!-- If active_tab is not report4, dont activate -->
        <% else %>
          <a class="nav-link" aria-controls="report4" role="tab" data-toggle="tab" href="#report4">Carrier Usage</a>

        <% end %>
      </li>

    </ul>

    <!-- Content in Tab -->
    <div class="tab-content">

      <%= render partial: 'partials/reports/status-reports' %>

    </div>

  </div>

</div>
