<!-- Page title -->
<% content_for :title, "Reports - Customers" %>

<!-- Content Wrapper -->
<div class="content-wrapper">

  <!-- Container (Fluid) -->
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Report Tabs -->
    <ul class="nav nav-tabs">

      <!-- Report 10 - Customer Orders -->
      <li class="nav-item">

        <!-- If active_tab is report10, activate -->
        <% if params[:active_tab] == 'report10' %>
          <a class="nav-link active" aria-controls="report10" role="tab" data-toggle="tab" href="#report10">Customer Orders</a>

        <!-- If active_tab is empty, activate-->
        <% elsif !params[:active_tab] %>
          <a class="nav-link active" aria-controls="report10" role="tab" data-toggle="tab" href="#report10">Customer Orders</a>

        <!-- If active_tab is not report10, dont activate -->
        <% else %>
          <a class="nav-link" aria-controls="report10" role="tab" data-toggle="tab" href="#report10">Customer Orders</a>
        <% end %>
      </li>

      <!-- Report 5 - Customer Order Totals -->
      <li class="nav-item">

        <!-- If active_tab is report5, activate -->
        <% if params[:active_tab] == 'report5' %>
          <a class="nav-link active" aria-controls="report5" role="tab" data-toggle="tab" href="#report5">Customer Order Totals</a>

        <!-- If active_tab is not report5, dont activate -->
        <% else %>
          <a class="nav-link" aria-controls="report5" role="tab" data-toggle="tab" href="#report5">Customer Order Totals</a>
        <% end %>
      </li>

      <!-- Report 6 - Customers by State -->
      <li class="nav-item">

        <!-- If active_tab is report5, activate -->
        <% if params[:active_tab] == 'report6' %>
          <a class="nav-link active" aria-controls="report6" role="tab" data-toggle="tab" href="#report6">Customers by State</a>

        <!-- If active_tab is not report5, dont activate -->
        <% else %>
          <a class="nav-link" aria-controls="report6" role="tab" data-toggle="tab" href="#report6">Customers by State</a>
        <% end %>
      </li>
    </ul>

    <!-- Content in Tab -->
    <div class="tab-content">
      <%= render partial: 'partials/reports/customer-reports' %>
    </div>
  </div>
</div>
