<!-- Content Wrapper -->
<div class="content-wrapper">

  <!-- Container (Fluid) -->
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Shipping Table-->
    <%= render partial: 'partials/tables/shipping-table' %>
    
  </div>

</div>
