<div class="content-wrapper">
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <%= render partial: 'partials/breadcrumbs' %>

    <div>
      <p>
        Current User:
        <%= current_employee.email %>
      </p>
        <button class="btn" type="button" data-toggle="modal" data-target="#editModal">Edit</button>
      <p>

    </p>

  </div>

  <% if current_employee.admin? %>

    <!-- Employee Table-->
    <p>
      <button class="btn" type="button">Add</button>
      <button class="btn" type="button">Remove</button>
      <button class="btn" type="button">Update</button>
    </p>

    <%= render partial: 'partials/tables/employee-table' %>

  <% end %>

  <!-- Edit Modal-->
  <%= render partial: 'partials/modals/edit-user-modal' %>

</div>
</div>
