<!-- Content Wrapper -->
<div class="content-wrapper">

  <!-- Container (Fluid) -->
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Section Above Employee Table -->
    <div class="ml-4 mb-4">

      <!-- Display Information -->

        <%= render :template => "devise/registrations/edit" %>

    </div>

    <!-- Show If Admin -->
    <% if current_employee.admin? %>

      <!-- Employee Table-->
      <%= render partial: 'partials/tables/employee-table' %>

    <% end %>

  </div>

</div>
