<div class="content-wrapper">
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to_unless_current("Dashboard", dashboard_url) %>
      </li>
      <li class="breadcrumb-item active">User Management</li>
    </ol>

    <div>
      <p>
        Current user:
        <%= current_employee.email %>
      </p>
        <button class="btn" type="button" data-toggle="modal" data-target="#editModal">Edit</button>
      <p>

    </p>

  </div>

  <% if current_employee.admin? %>

    <!-- Employee Table-->
    <p>
      <button class="btn" type="button">Add</button>
      <button class="btn" type="button">Remove</button>
      <button class="btn" type="button">Update</button>
    </p>

    <%= render partial: 'partials/tables/employee-table' %>

  <% end %>

  <!-- Edit Modal-->
  <%= render partial: 'partials/modals/edit-user-modal' %>

</div>
</div>
