<div class="content-wrapper">
  <div class="container-fluid">


    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">User Management</li>
    </ol>

    <% if current_employee.admin? %>
      <button type="button">
        <span>Test</span>
      </button>
    <% end %>

  </div>
</div>