<!-- Page title -->
<% content_for :title, "Vendor Management" %>

<!-- Content Wrapper -->
<div class="content-wrapper">

  <!-- Container (Fluid) -->
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Error Banner -->
    <% if notice %>
      <% flash.each do |key, value| %>
        <% if value.class == Array %>
          <div class="h5 strong text-center mark" id="flash">
            <% value.each do |message| %>
                * <%= message %> *
                </br>
            <% end %>
          </div>
        <% else %>
          <div class="h5 strong text-center mark" id="flash">
            * <%= value %> *
          </div>
        <% end %>
      <% end %>
    <% end %>

    <!-- Vendor Table-->
    <%= render partial: 'partials/tables/vendor-table' %>
  </div>
</div>
