<div class="content-wrapper">

  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <%= render partial: 'partials/breadcrumbs' %>

    

    <!-- Vendor Table-->
    <%= render partial: 'partials/tables/vendor-table' %>
  </div>

</div>

<!-- New Customer Modal-->
<%= render partial: 'partials/modals/add-vendor-modal' %>
