<!-- Page content -->
<% content_for :title, "Edit Vendor" %>

<!-- Content wrapper -->
<div class="content-wrapper">

  <!-- Container (fluid) -->
  <div class="container-fluid">

    <!-- Bread Crumbs -->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Vendor form -->
    <%= render 'form', vendor: @vendor %>
  </div>
</div>
