<div class="content-wrapper">

  <div class="container-fluid">

    <!-- Bread Crumbs -->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Edit-->
    <%= render 'form', vendor: @vendor %>
  </div>

</div>
