<% content_for :title, "Create New Vendor" %>

<div class="content-wrapper">

  <div class="container-fluid">

    <!-- Bread Crumbs -->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Vendor form -->
    <%= render 'form', vendor: @vendor %>
  </div>
</div>
