<p id="notice"><%= notice %></p>

<p>
  <strong>Vendor status type:</strong>
  <%= @vendor_status.vendor_status_type %>
</p>

<%= link_to 'Edit', edit_vendor_status_path(@vendor_status) %> |
<%= link_to 'Back', vendor_statuses_path %>
