<p id="notice"><%= notice %></p>

<p>
  <strong>Shipper description:</strong>
  <%= @shipper.shipper_description %>
</p>

<%= link_to 'Edit', edit_shipper_path(@shipper) %> |
<%= link_to 'Back', shippers_path %>
