<!-- Page title -->
<% content_for :title, "Edit Product" %>

<!-- Notice Banner -->
<% if notice %>
  <div class='h5 strong text-center mark'>
    <%= flash[:notice] %>
  </div>
<% end %>

<!-- Content wrapper -->
<div class="content-wrapper">

  <!-- Container (fluid) -->
  <div class="container-fluid">

    <!-- Bread Crumbs -->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Product form -->
    <%= render 'form', product: @product %>
  </div>
</div>
