<% content_for :title, "Create New Product" %>

<div class="content-wrapper">

  <div class="container-fluid">

    <!-- Bread Crumbs -->
    <%= render partial: 'partials/breadcrumbs' %>

    <div class="card">
      <div class="card-header">

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 mt-4">
            <div class="mb-5 pb-5">
              <!-- New Product form -->
              <%= render 'form', product: @product %>
            </div>
          </div>
          <div class="col-md-6">
            <!-- Product Table-->
            <%= render partial: 'partials/tables/product-table' %>
          </div>
        </div>
      </div>
      <div class="card-footer">

      </div>
    </div>



  </div>

</div>
